@define-color selected-text #a8a8ae;
@define-color text #ffffff;
@define-color base #110D0acc;
@define-color border #8c7b76;
@define-color foreground #ffffff;
@define-color background #110D0acc;
@define-color hover #445553;             
@define-color selected-box #445553;            

window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 10px;
  padding: 2px 8px;
  margin-top: 1px;
  font-size: 10px;
  font-weight: 400;
}

.box-wrapper {
  border-radius: 18px;
}

child:selected {
  border-radius: 10px;
  background-color: alpha(@selected-box, 0.16);
  transition: all 0.9s ease-in;
  transition: background-color 0.22s ease-in;
}

child:selected .item-box {
  transition: all 0.09s ease-in;
  margin-left: 10px;
}

child:selected .item-box * {
  color: @text;
}