@define-color selected-text #9ca0b0; /* Overlay 1 */
@define-color text #4c4f69;          /* Text */
@define-color base #eff1f5cc;        /* Base */
@define-color border #bcc0cc;        /* Surface 2 */
@define-color foreground #4c4f69;    /* Text */
@define-color background #eff1f5cc;  /* Base */
@define-color hover #acb0be;         /* Overlay 0 */
@define-color selected-box #acb0be;  /* Overlay 0 */

window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 10px;
  padding: 2px 8px;
  margin-top: 1px;
  font-size: 10px;
  font-weight: 400;
}

.box-wrapper {
  border-radius: 18px;
}

child:selected {
  border-radius: 10px;
  background-color: alpha(@selected-box, 0.16);
  transition: all 0.9s ease-in;
  transition: background-color 0.22s ease-in;
}

child:selected .item-box {
  transition: all 0.09s ease-in;
  margin-left: 10px;
}

child:selected .item-box * {
  color: @text;
}
